<section class="page_copyright ds ms doted_items table_section section_padding_25">
<div class="container">
<div class="row">
  <div class="col-md-5 col-lg-4 text-center text-md-left">
    <p class="greylinks">&copy;Model Agency 2016. Created with
      <i class="flaticon-shapes highlight"></i> by
      <a href="http://modernwebtemplates.com">MWTemplates</a>
    </p>
  </div>
  <div class="col-md-7 col-lg-8 text-right hidden-xs hidden-sm">
    <div class="greylinks">

      <ul class="menu sf-menu">
        <li>
          <a href="index.html">Home</a>
        </li>

        <li>
          <a href="about.html">Pages</a>
        </li>

        <li>
          <a href="models.html">Models</a>
        </li>

        <li>
          <a href="appointment.html">Appointment</a>
        </li>

        <li>
          <a href="faq.html">Faq</a>
        </li>

        <li>
          <a href="contact.html">Contact</a>
        </li>

      </ul>

    </div>
  </div>
</div>
</div>
</section>
