<section class="intro_section page_mainslider ds">
				<div class="flexslider">
					<ul class="slides">
						<li class="">
              <%= image_tag("/slide01.jpg", :alt => "Amodels Africa" ) %>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center text-md-right">
										<div class="slide_description_wrapper">
											<div class="slide_description text-center">
												<div class="heading text-center bottom_border bottommargin_25">
													<p style="color: white;", class="text-uppercase josefin grey">Welcome to AMODELS AFRICA</p>
													<h1 style="color: white;", class="text-uppercase topmargin_0">Model scouting</h1>
												</div>
												<p style="color: white;", class="bottommargin_40">
													We are Africa's finest Model scouting agent with eye on quality and talented
                          models across Africa.
												</p>
												<a href="about.html" class="theme_button margin_0">Read more</a>
											</div>
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
							<div class="slide_social">
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-facebook"></a>
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-twitter"></a>
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-instagram"></a>
							</div>
						</li>
						<li class="">
							<%= image_tag("/slide02.jpg", :alt => "Amodels Africa" ) %>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center text-md-right">
										<div class="slide_description_wrapper">
											<div class="slide_description text-center">
												<div class="heading text-center bottom_border bottommargin_25">
													<p style="color: white;", class="text-uppercase josefin grey">BeDiscovered</p>
													<h1 style="color: white;", class="text-uppercase topmargin_0">and Grow</h1>
												</div>
												<p style="color: white;", class="bottommargin_40">
													Are you aspiring to become A class model?
												</p>
												<a href="about.html" class="theme_button margin_0">Read more</a>
											</div>
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
							<div class="slide_social">
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-facebook"></a>
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-twitter"></a>
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-instagram"></a>
							</div>
						</li>
						<li class="">
							<%= image_tag("/slide03.jpg", :alt => "Amodels Africa" ) %>
							<div class="container">
								<div class="row">
									<div class="col-sm-12 text-center text-md-leftsss">
										<div class="slide_description_wrapper">
											<div class="slide_description text-center">
												<div class="heading text-center bottom_border bottommargin_25">
													<p style="color: white;", class="text-uppercase josefin grey">Welcome to professional</p>
													<h1 style="color: white;", class="text-uppercase topmargin_0">Model agency</h1>
												</div>
												<p style="color: white;", class="bottommargin_40">
													Integer ac dictum dolor. Maecenas viverra pellentesque est, in porta ipsum feugiat a. Curabitur condimentum eros ut elit dapibus, a facilisis dui tristique. Vivamus scelerisque aliquam fringilla. Duis vel dui lobortis, interdum ex sed. Nulla iaculis nibh
													enim, vel vulputate purus congue vel.
												</p>
												<a href="about.html" class="theme_button margin_0">Read more</a>
											</div>
										</div>
										<!-- eof .slide_description_wrapper -->
									</div>
									<!-- eof .col-* -->
								</div>
								<!-- eof .row -->
							</div>
							<!-- eof .container -->
							<div class="slide_social">
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-facebook"></a>
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-twitter"></a>
								<a href="#" class="social-icon monochrome-icon rounded-icon soc-instagram"></a>
							</div>
						</li>
					</ul>
				</div>
				<!-- eof flexslider -->
			</section>
